@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Montserrat:wght@900&display=swap');

:root {
    --font-one: 'Dosis', sans-serif;
    --font-two: 'Montserrat', sans-serif;
    --font-color-one: #FCFCFC;
    --background: #E7FAFA;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background);
    margin: 0;
}

header {
    background-color: #38B4D8;
    align-items: initial;
    width: 100%;
}

h1 {
    font-family: var(--font-two);
    color: var(--font-color-one);
    margin: 0;
    max-width: 100%;
}

h2 {
    font-family: var(--font-one);
    color: var(--background);
    margin: 0;
    max-width: 100%;

}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding-left: 20%;
}

.menuBar{
    display: flex;
    flex-direction: row;
}

.menuBar, h4, #tutorial {
    background: #211921;
    font-family: var(--font-one);
    color: var(--font-color-one);
    padding-left: 0%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

.cards img {
    width: 100%;
    justify-content: center;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    
}

@media only screen and (max-width: 600px) {
    .cardsImg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
        justify-content: space-around; 
        width: 80vw;
        }

    #root {
        justify-items: center;
        padding-left: 10vw;
        margin-top: 14vw;
        }

        .cards img {
            border: 1vw solid #211921;
        }

        .contenedorHeader {
            width: 100%;
            padding-top: 5vw;
        }

        h1 {
            font-size: 7vw;
            padding-left: 17%;
        }

        h2 {
            font-size: 5vw;
        }
        .subtitle{
            padding: 0;
        }

        .logo {
            width: 20%;
        }

        .cnLogo {
            max-width: 18vw;
            height: auto;
            margin-left: 0.3vw;
            padding-top: 1vw;
        
        }
        header {
            height: 25vw;

        }
        .menuBar, h4, #tutorial {
            font-size: 3.5vw;
        }
        .menuBar{
            padding-left: 17%;  
        }

        .tutorial {
            margin-left: 10vw;
        }

        .playAgain {
            margin-left: 5vw;
        }
        .textBox {
            visibility: hidden;
            position: absolute;
        }
        .tutorial .textBox::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #211921 transparent transparent transparent;
          }
          
          
    .tutorial:hover .textBox {
            visibility: hidden;
          }
}
@media only screen and (min-width: 600px) {
    .cardsImg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
        justify-content: space-around; 
        width: 75vw;
        }

    #root {
        justify-items: center;
        padding-left: 13vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
        }

        .cards img {
            border: 1vw solid #211921;
        }

        .contenedorHeader {
            width: 100%;
            padding-top: 5vw;
        }

        h1 {
            font-size: 7vw;
            padding-left: 17%;
        }

        h2 {
            font-size: 5vw;
        }
        .subtitle{
            padding: 0;
        }

        .logo {
            width: 20%;
        }

        .cnLogo {
            max-width: 18vw;
            height: auto;
            margin-left: 0.3vw;
            padding-top: 1vw;
        
        }
        header {
            height: 25vw;

        }
        .menuBar, h4, #tutorial {
            font-size: 3.5vw;
        }
        .menuBar{
            padding-left: 17%;  
        }

        .tutorial {
            margin-left: 10vw;
        }

        .playAgain {
            margin-left: 5vw;
        }

        .textBox {
            visibility: hidden;
            position: absolute;
        }
        
        .tutorial .textBox::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #211921 transparent transparent transparent;
          }
          
          
        .tutorial:hover .textBox {
            visibility: hidden;
          }
        
}
@media only screen and (min-width: 992px) {
    .cardsImg {     
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1vw;
        justify-content: space-around; 
        width: 40vw;
        }

    #root {
        justify-items: center;
        padding-left: 30vw;
        margin-top: 2vw;
        margin-bottom: 0;
        }

    .cards img {
        border: 0.4vw solid #211921;
        }

    .contenedorHeader {
        width: 100%;
        margin-top: 1vw;
        padding-top: 0;
        
        }

    h1 {
        font-size: 3vw;
        padding-left: 23%;
        }

    h2 {
        font-size: 2vw;
        }
    .subtitle{
        margin-right: 25vw;
        padding-left: 0%;
        }

    .logo {
        width: 15%;
        }

    .cnLogo {
        max-width: 10vw;
        height: auto;
        margin-left: 0.3vw;
        padding-top: 0;
    
    }
    header {
        padding: 0.2%;
        height: 10vw;

    }
    .menuBar, h4, #tutorial {
        margin: 0;
        font-size: 1.2vw;
    }
    .menuBar{
        padding-left: 70%;  
        }

    .tutorial {
        margin-left: 3vw;
        }

    .playAgain {
        margin-left: 1vw;
        padding-right: 2vw;
        }
    .textBox {
            visibility: hidden;
            width: 23vw;
            position: absolute;
            background-color: #211921;
            color: var(--font-color-one);
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            top: 5vw;
            right: 3vw;
        }
        .tutorial .textBox::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #211921 transparent transparent transparent;
          }
          
          
    .tutorial:hover .textBox {
            visibility: visible;
          }
}